h1 {
  text-align: center;
  color: #8bbe09e5;
}

.App {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #525252;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(233, 231, 231, 0.885);
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #88ff00bc;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #043361;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #efe9e9;
}

button.delete-button {
  background-color: #ff4136;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

button.delete-button:hover {
  background-color: #d90000;
}

input[type="checkbox"] {
  margin-right: 5px;
}
